.leaflet-right .leaflet-control {
  padding-right: 10px;
}

.leaflet-control.leaflet-control-browser-print {
  display: none;
}

.marker-color-editor, .marker-icon-editor, .leaflet-bar, .menu-container {

  button {
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 0 4px;
    border-radius: 4px;
    border: none;

    position:relative;
    
    & > svg.icon {
      width: 20px;
      height: 20px;
    }
  }

  button, a, .leaflet-browser-print {
    cursor: pointer;
    background-color: white;

    &.selected, &.selected:hover {
      background-color: coral;
    }

    &:hover {
      background-color:lightgrey;
    }

    &:focus {
      outline: 2px solid orange !important;
    }
  }
}

.leaflet-popup-content {

  & > .popup-container {

    position: relative;

    & > button {
      position: absolute;
      top: -10px;
      right: -16px;

      cursor: pointer;
      background-color: white;
      border: none;
      border-radius: 4px;
      padding-left: 0px;
      padding-right: 0px;

      &:hover {
        background-color:lightgrey;
      }

      &:focus {
        outline: 2px solid orange !important;
      }

      & > svg.icon {
        width: 16px;
        height: 16px;
      }
    }
  }
}


.map-markers-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
  max-height: 70vh;
  overflow: auto;

  svg.icon {
    width: 16px;
    height: 16px;
  }

  .marker {
    display: flex;
    flex-flow: row nowrap;

    & > .marker-header {
      flex: 1 1 10vw;
      width: 10vw;

      display: flex;
      flex-flow: row nowrap;
      align-items: stretch;

      cursor: pointer;

      &:hover {
        background-color:lightgrey;
      }

      & > .marker-title {
        flex: 1 1 auto;
        min-width: 10em;

        margin-left: 0.5em;
      }
    }

    & > button {
      flex: 0 0 18px;

      border: none;
      border-radius: 4px;
      padding-left: 0px;
      padding-right: 0px;

    }

    & > button {
      cursor: pointer;
      background-color: white;

      &:hover {
        background-color:lightgrey;
      }
    }
  } 
}