.markers-container {
  padding: 2em;

  & > .markers-header {
    display: flex;
    align-items: center;
    margin-bottom: 1.5em;

    & > .markers-title {
      flex: 0 0 auto;
      margin-right: 1.5em;
    }

    & > .map-name {
      flex: 1 0 auto;

      .map-name-label {
        font-style: italic;
        color: rgb(82, 82, 82);
      }
      .map-name-value {
        font-weight:  bold;
      }
    }
  }

  & > .marker-table {
    td, th {
      padding: 1em;
      border-right: 1px solid gray;

      &:last-child, &:first-child {
        border-right: 0;
      }
    }

    th {
      font-weight: bold;
    }
  }
}