
.menu-container {

  .menu > ul {
    position: absolute;
    top: 100%;
    right: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.8s ease-in-out;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    
    &.open {
      height: auto;
      overflow: visible;
    }

    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    

    & > li {
      flex: 1 0 auto;
      padding: 0.2em 0.5em;

      &:hover {
        background-color: lightgrey;
        cursor: pointer;
      }

      &.menu-separator {
        border-top: 1px solid gray;
        margin: 0 1.5em;
      }

      & > * {
        width: 100%;
        background-color: transparent;
      }
    }
  }
}

.app-title {
  position: absolute;
  top: 10px;
  left: 10px;
  padding:0.4rem 0.6rem;
  border-radius: 4px;

  display: flex;
  align-items: center;

  z-index: 40;
  background-color: rgba(255, 255, 255, 0.8);

  h1 {
    margin: 0;
  }

  .menu-bar {
    margin-left: 0.6rem;

    & > button {
      &:focus {
        outline: 2px solid orange !important;
      }
    }
  }
}