@use 'map';
@use 'menu';
@use 'markerList';

html {
	position: relative;
  min-height: 100vh;
}

body {
	position: relative;
  height: 100%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  padding: 0;
}

main {
  width: 100%;
  height: 100%;

  .map-container {
    height: 100vh;
    width: 100vw;
  }

}

.tooltip {
  z-index: 9999;
}

.tooltip::before {
  z-index: 9999;
}

body[leaflet--printing] { // grid holder that holds all content (map and any other content)
  .remove-button {
    display: none;
  }
}

.remove-button {
  color: red;
}

.nowrap {
  white-space: nowrap;
}

.modal-card {
  & > .modal-card-foot {
    justify-content: flex-end;
  }
}

h1 {
    color: #ff3e00;
    font-size: 2rem;
    font-weight: 100;
}

.modal.is-large {
  & > .modal-content {
    width: 90vw;

    & > .modal-card {
      width: 100%;
    }
  }
}

.appinfo-content {
  section {
    padding: 0.5em 1em;

    h1 {
      font-size: 3rem;
    }

    & > * {
      margin: 1em;
    }

    .appinfo-title {
      font-weight: bold;
    }

    p {
      text-align: justify;
    }
    .centered {
      text-align: center;
    }


    .logo {
      max-width: 8em;
    }

    .logo-row {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-evenly;

      & > .logo {
        flex: 0 1 40%;
        min-width: 0;
      }

      & > p {
        flex: 0 1 50%;
      }

      .button {
        color: white;
        font-weight: bold;

        a, a:hover, a:visited {
          color: white;
        }
      }
    }
  }
}