<script>
  import config from '../config/markers'
  const icons = config.markers.icons
</script>

<div class="app-images">
  <i data-fa-symbol="menu" class="fas fa-bars"></i>
  <i data-fa-symbol="info" class="fas fa-info"></i>
  <i data-fa-symbol="edit" class="fas fa-edit"></i>
  <i data-fa-symbol="remove" class="fas fa-times"></i>

  <i data-fa-symbol="popup-switch" class="far fa-comment-alt"></i>
  <i data-fa-symbol="marker-list" class="fas fa-list-ul"></i>
  <i data-fa-symbol="reset-view" class="fas fa-expand-arrows-alt"></i>
  <i data-fa-symbol="color-marker" class="fas fa-map-marker-alt"></i>

  <i data-fa-symbol="color-marker" class="fas fa-map-marker-alt"></i>
  {#each Object.keys(icons) as icon}
  <i data-fa-symbol="icon-{icon}" class="{icon== 'default' ? 'fas fa-map-marker-alt' : icons[icon]}"></i>
  {/each}
</div>