<script>
  import { Button, Modal } from 'svelma'
  import { _ } from 'svelte-i18n';
  import { infoModalOpened } from '../stores/uiStore'

  export let appName
  export let appVersion

  let close = () => {
    $infoModalOpened = false
  }
</script>

<style lang="scss">

</style>

<Modal bind:active={$infoModalOpened} onBody={false} size="is-large" showClose={false}>
  <div class="modal-card appinfo-content">
    <section class="modal-card-body is-titleless">
      <div class="centered"><h1>{appName}</h1><div class="version">Version {appVersion}</div></div>
      <div class="logo-row">
        <Button class="button is-success"
                on:click={close}>Ouvrir l'application</Button>
        <Button class="button is-info"><a href="https://www.firah.org/fr/cartogeovie.html">Accéder au guide</a></Button>
        <!-- bouton ouvrir le guide + bouton ouvrir l'application -->
      </div>
      <p>Cet outil offre un support et une méthode qui permettent de figurer concrètement pour chaque personne qui l’utilise, son histoire de vie et son vécu du quotidien en relation avec son environnement.<br />
         Réalisée par soi-même ou avec l’appui d’un proche ou d’un professionnel de l’accompagnement, la carte consigne et met en exergue bon nombre d’informations sur lesquelles il sera possible de prendre appui afin d'observer une évolution au fil du temps ou de déterminer des actions à mettre en place.</p>
      <div class="logo-row">
        <p>CartogéoVie a été élaboré à partir des travaux de Meddy ESCURIET dans le cadre de sa thèse de doctorat en géographie réalisée à l’Université Clermont Auvergne au sein des établissements de LADAPT en Auvergne-Rhône-Alpes.<br />
        Financement par LADAPT dans le cadre d’une convention CIFRE avec le soutien de l’ANRT et de l’ARS Auvergne-Rhône-Alpes.</p>
        <img class="logo logo-uca" src="./images/logo_uca.png" alt="Logo UCA"/>
        <img class="logo logo-ladapt" src="./images/logo_ladapt.jpg" alt="Logo LADAPT" />
      </div>
      <div class="logo-row">
        <img class="logo logo-firah" src="./images/logo_firah.png" alt="Logo FIRAH"/>
        <img class="logo logo-fh" src="./images/logo_fh.png" alt="Logo FH" />
        <img class="logo logo-cnsa" src="./images/logo_cnsa.png" alt="Logo CNSA" />
        <p>L’application que vous allez utiliser a été développée avec le soutien de la FIRAH dans le cadre de la valorisation de la recherche avec financement de la CNSA et de la Fondation handicap Malakoff Humanis. </p>
      </div>
      <p class="centered"><a target="_blank" href="https://www.firah.org/fr/cartogeovie.html">En savoir plus sur la recherche de Meddy ESCURIET</a></p>
      <div class="centered"><a target="_blank" href="https://www.firah.org/fr/cartogeovie.html"><img class="logo logo-clap" src="./images/logo_clap.png" alt="Logo CLAP" /></a></div>
      <p class="centered">La création informatique est réalisée par <a href="mailto:pierre@lail.fr">Pierre Réveillon</a></p>
    </section>
  </div>
</Modal>