<script>
  import { Dialog, Modal, Select, Button, Tooltip } from 'svelma'
  import { _ } from "svelte-i18n";
  import markerStore from '../stores/markerStore'
  import markerLibStore from '../stores/markerLibStore'
  import { print, editingMarkerSet, editingMarker, selectedMarker } from '../stores/uiStore'
  
  export let open = false

  let exportModal

  let saveAs = () => {
    return Dialog.prompt({
      message: $_("menu.actions.saveAs.prompt"),
      inputProps: { type: 'text' },
      confirmText: $_('misc.validate'),
      cancelText: $_('misc.cancel'),
      showCancel: true
    }).then(prompt => {
      if (prompt) {
        $editingMarkerSet = prompt
        markerLibStore.add(prompt, markerStore.all())
      }
    })
  }

  let closeModals = () => {
    Object.keys(actions).forEach((name) => { if (actions[name].state == true) actions[name].state = false })
  }

  let openModal = (name) => {
    closeModals()
    actions[name].state = true
  }

  let isMarkerSetModified = () => {
    return $editingMarkerSet
      ? markerLibStore.isModified($editingMarkerSet, markerStore.all())
      : !markerStore.isEmpty()
  }

  let actions = {
    'new': {
      run: () => {
        if (isMarkerSetModified()) 
          Dialog.confirm({
            message: $_("menu.actions.new.confirm"),
            type: "is-danger",
            confirmText: $_('misc.validate'),
            cancelText: $_('misc.cancel'),
            showCancel: true
          })
          .then(result => {
            if (result) {
               markerStore.clear()
               $editingMarkerSet = null
            }
          })
        else {
          markerStore.clear()
          $editingMarkerSet = null
        }
      }
    },
    'open': {
      value: null,
      state: false,
      run: () => {
        actions['open'].value = $editingMarkerSet ? $editingMarkerSet : markerLibStore.ids()[0]
        openModal('open')
      },
      end: (go) => {
        if (go) {
          if (isMarkerSetModified()) 
            Dialog.confirm({
              message: $_("menu.actions.new.confirm"),
              type: "is-danger",
              confirmText: $_('misc.validate'),
              cancelText: $_('misc.cancel'),
              showCancel: true
            })
            .then((result) => {
              if (result) {
                $editingMarkerSet = actions['open'].value
                markerStore.import(markerLibStore.get($editingMarkerSet).markers)
              }
              actions['open']._end()
            })
          else {
            $editingMarkerSet = actions['open'].value
            markerStore.import(markerLibStore.get($editingMarkerSet).markers)
            actions['open']._end()
          }
        }
        else {
          actions['open']._end()
        }
      },
      _end: () => {
        actions['open'].state = false
      }
    },
    'save': {
      run: () => {
        if ($editingMarkerSet) {
          /*
          Dialog.confirm({
            message: `Overwrite ${$editingMarkerSet} ?`,
            type: "is-danger"
          })
          .then(result => {
            result && */ markerLibStore.replace($editingMarkerSet, markerStore.all())
          /*})*/
        }
        else {
          saveAs()
        }
      }
    },
    'saveAs': {
      run: () => {
        saveAs()
      }
    },
    'manage': {
    },
    'print': {
      run: () => {
        $print = true
      }
    },
    'debug': {
      run: () => {
        Dialog.alert({
          message: ` Current markerset : <pre> ${JSON.stringify($editingMarkerSet)} </pre> All markersets : <pre> ${JSON.stringify($markerLibStore, null, 2)}</pre>`,
        })
      }
    },
    'reset': {
      run: () => {
        Dialog.confirm({
          message: $_("menu.actions.reset.confirm"),
          type: "is-danger",
          icon: "exclamation-triangle",
          confirmText: $_('misc.validate'),
          cancelText: $_('misc.cancel'),
          showCancel: true
        })
        .then(result => {
          if (result) {
            $editingMarker = null
            $selectedMarker = null
            $editingMarkerSet = null
            markerLibStore.clear()
            markerStore.clear()
          }
        })
      }
    },
    'import': {
      run: () => {
        return Dialog.prompt({
          message: $_('menu.actions.import.prompt'),
          inputProps: { type: 'file' },
          confirmText: $_('misc.validate'),
          cancelText: $_('misc.cancel'),
          showCancel: true
        }).then(importFromFile)
      }
    },
    'export': {
      value: null,
      state: false,
      run: () => {
        openModal('export')
        actions['export'].updateLink()
      },
      json: "",
      updateLink: () => {
        console.log(markerLibStore.export())
        console.log(downloadModal)
        downloadModal.querySelector('download-link').href = markerLibStore.export()
      },
      end: (go) => {
        if (go) {
        }
        actions['export']._end()
      },
      _end: () => {
        actions['export'].state = false
      }
    }
  }

  let runAction = (name) => {
    open = false;
    if (actions[name] && actions[name].run)
      actions[name].run()
    else
      Dialog.alert($_("misc.notImplemented"))
    return false
  }

  let menuItems = [
    'new', 'open', 'save', 'saveAs', 'manage', 'print', '-',
    'export', 'import', '-',
    'debug', 'reset'
  ]
</script>

<style lang="scss">
</style>

<div class="modal-container">
  <Modal bind:active={actions['open'].state}>
    <div class="modal-card">
      <section class="modal-card-body is-titleless">
        <p>{$_('menu.actions.open.prompt')}</p>
        <Select bind:selected={actions['open'].value}>
          {#each markerLibStore.ids() as name}
            <option value={name}>{name}</option>
          {/each}
        </Select>
      </section>

      <footer class="modal-card-foot">
        <Button type="is-success" iconPack="fa" iconLeft="check"
                on:click={actions['open'].end(true)} >{$_('misc.validate')}</Button>
        <Button type="is-danger" outline iconPack="fa" iconRight="times"
                on:click={actions['open'].end(false)}>{$_('misc.cancel')}</Button>
      </footer>
    </div>
  </Modal>

  <Modal bind:active={actions['export'].state} bind:this={exportModal}>
    <div class="modal-card">
      <section class="modal-card-body is-titleless">
        <a class="download-link" href={actions['export'].json}>{$_('menu.actions.export.download')}</a>
      </section>

      <footer class="modal-card-foot">
        <Button type="is-success" iconPack="fa" iconLeft="check"
                on:click={actions['export'].end(true)} >{$_('misc.validate')}</Button>
        <Button type="is-danger" outline iconPack="fa" iconRight="times"
                on:click={actions['export'].end(false)}>{$_('misc.cancel')}</Button>
      </footer>
    </div>
  </Modal>


</div>

<nav class="menu" role="navigation">
  <ul class:open role="menubar" aria-label="{$_("app.menu.label")}">
    {#each menuItems as item}
      {#if item=='-'}
    <li role="none" class="menu-separator"></li>
      {:else}
      <li role="none" class="menu-item" on:click={() => runAction(item)}>
        <button role="menuitem" class="menu-title">
          <Tooltip label="{$_(`menu.items.${item}.tooltip`)}" position="is-right">
            { $_(`menu.items.${item}.title`) }
          </Tooltip>
        </button>
      </li>
      {/if}
    {/each}
  </ul>
</nav>