<script>
  import { _ } from 'svelte-i18n'
  import { infoModalOpened } from '../stores/uiStore'
  export let open = false
</script>

<style lang="scss">
</style>

<div class="menu-bar">

  <button type="button"
          class:open
          class=""
          on:click|stopPropagation={() => open = !open}
          title="{$_("menu.title")}"
          aria-label="{$_("menu.title")}">
    <svg role="none" alt="" class="icon"><use xlink:href="#menu"></use></svg>
  </button>

  <button type="button"
          on:click|stopPropagation={() => $infoModalOpened = !$infoModalOpened}>
    <svg role="none" alt="" class="icon"><use xlink:href="#info"></use></svg>
  </button>
</div>