<script>
  export let tilesConfig;

  import AppImages from './AppImages.svelte'
  import Map from './map/Map.svelte'
  import MarkerEditor from './MarkerEditor.svelte'
  import MarkerList from './MarkerList.svelte'
  import AppInfo from './AppInfo.svelte'

  export let appName
  export let appVersion
</script>

<style lang="scss">
</style>

<div class="editor">
  <AppImages></AppImages>
  <Map {tilesConfig}></Map>
  <MarkerList></MarkerList>

  <MarkerEditor></MarkerEditor>
  <AppInfo {appName} {appVersion}></AppInfo>
</div>