<script>
  import { _ } from 'svelte-i18n'
  import MarkerIcon from './MarkerIcon.svelte'

  import { editingMarkerSet } from '../stores/uiStore'
  import markerStore from '../stores/markerStore'

  let markerList = markerStore.all()
  markerStore.on('change', () => markerList = markerStore.all())
</script>

<style>

</style>

<div class="markers-container" leaflet-browser-print-pages="">
  <div class="markers-header">
    <div class="markers-title">
      <h1>{$_("app.name")}</h1>
    </div>
    <div class="map-name">
      <span class="map-name-label">{$_("markerSet.label")} :</span> <span class="map-name-value">{$editingMarkerSet ? $editingMarkerSet : ""}</span>
    </div>
  </div>
  <table class="marker-table">
    <tr class="marker-table-header">
      <th></th>
      <th>{$_("map.marker.fields.name.label")}</th>
      <th>{$_("map.marker.fields.feelings.label")}</th>
      <th>{$_("map.marker.fields.comment.label")}</th>
    </tr>
  {#each markerList as marker (marker.id)}
    <tr class="marker">
      <td class="marker-icon">
        <MarkerIcon bind:marker={marker} button={false} />
      </td>
      <td class="marker-title">
        {marker.name || $_("map.marker.unnamed")}
      </td>
      <td class="marker-feelings">
        {marker.feelings || ""}
      </td>
      <td class="marker-comment">
        {marker.comment || ""}
      </td>
    </tr>
  {/each}
  </table>
</div>