<script>
  import { _ } from 'svelte-i18n'
  import config from '../config/markers'
  export let marker
  export let button = true
</script>

{#if button}
<button type="button"
        title="{$_('map.marker.color') + ' : ' + marker.color}"
        aria-label="{$_('map.marker.color') + ' : ' + marker.color}"
        href="#">
  <svg alt="" role="none" class="icon" style="color: {config.markers.colors[marker.color]}">
    <use xlink:href="#icon-{marker.icon}"></use>
  </svg>
</button>
{:else}
  <svg alt="" role="none" class="icon" style="color: {config.markers.colors[marker.color]}">
    <use xlink:href="#icon-{marker.icon}"></use>
  </svg>
{/if}