<script>
  import { Button, Modal,  Field, Input } from 'svelma'
  import { _ } from 'svelte-i18n';
  import markerStore from '../stores/markerStore';
  import { editingMarker } from '../stores/uiStore'
  import MarkerColorEditor from './MarkerColorEditor.svelte'
  import MarkerIconEditor from './MarkerIconEditor.svelte'
  import { formatAddress } from '../lib/utils'

  let active = false
  let markerData = {}
  let formattedAddress = ""

  $: active = !!$editingMarker
  $: markerData = $editingMarker ? JSON.stringify($editingMarker) : ""
  $: formattedAddress = $editingMarker ? formatAddress($editingMarker.address) : ""

  let save = () => {
    markerStore.update($editingMarker.id, $editingMarker)
    close()
  }

  let close = () => {
    $editingMarker = null
  }
</script>

<style lang="scss">

</style>

<Modal bind:active={active} onBody={false} showClose={false}>
  <div class="modal-card">
    <section class="modal-card-body is-titleless">
      <Field label="{$_('map.marker.fields.name.label')}">
        <Input type="text" bind:value={$editingMarker.name}
               placeholder="{$_('map.marker.fields.name.description')}" />
      </Field>
      
      <Field> 
        <Input placeholder="" disabled bind:value={formattedAddress} />
      </Field>

      <MarkerColorEditor bind:value={$editingMarker.color}></MarkerColorEditor>

      <MarkerIconEditor bind:value={$editingMarker.icon}></MarkerIconEditor>

      <Field label="{$_('map.marker.fields.feelings.label')}">
        <Input type="text" bind:value={$editingMarker.feelings}
               placeholder="{$_('map.marker.fields.feelings.description')}" />
      </Field>
      <Field label="{$_('map.marker.fields.comment.label')}"> 
        <Input type="textarea" maxlength="200" bind:value={$editingMarker.comment}
              placeholder="{$_('map.marker.fields.comment.description')}" />
      </Field>

      <!--Field label="Debug"> 
        <Input type="textarea" bind:value={markerData} disabled />
      </Field-->
    </section>
    <footer class="modal-card-foot">
      <Button class="button is-success" type="is-success" iconPack="fa" iconLeft="check" on:click={save}>{$_('map.marker.actions.save.label')}</Button>
      <Button class="button is-danger" type="is-danger" outline iconPack="fa" iconRight="times" on:click={close}>{$_('map.marker.actions.cancel.label')}</Button>
    </footer>
  </div>
</Modal>