<script>
  import { _ } from 'svelte-i18n'
  import config from '../config/markers'
  const icons = config.markers.icons
  export let value = null
</script>

<div class="marker-icon-editor">
  {#each Object.keys(icons) as icon}
    <button type="button" class="leaflet-bar-part leaflet-bar-part-single"
            on:click|stopPropagation={() => value = icon} class:selected={value==icon}
            title="{icons[icon]}"
            aria-label="{$_('map.marker.icon') + ':' + icons[icon]}"
            href="#">
      <svg class="icon"><use xlink:href="#icon-{icon}"></use></svg>
    </button>
  {/each}
</div>