<script>
  import { _ } from 'svelte-i18n'
  import config from '../config/markers'
  const colors = config.markers.colors
  export let value = null
</script>

<style type='scss'>
</style>


<div class="marker-color-editor">
  {#each Object.keys(colors) as color}
  <button type="button" class="leaflet-bar-part leaflet-bar-part-single"
          on:click|stopPropagation={() => value = color} class:selected={value==color}
          title="{$_('map.marker.color') + ':' + color}" href="#">
    <svg class="icon" style="color: {colors[color]}"><use xlink:href="#color-marker"></use></svg>
  </button>
  {/each}
</div>