<script>
  export let marker
</script>

<style>

</style>

<div>
  <span class="marker-name">{marker.name || "Nouveau lieu"}</span>
  <div class="marker-coords">{marker.coords.lat} {marker.coords.lng}</div>
</div>