<script>
  import markerLibStore from '../stores/markerLibStore'
  export let label
  export let open = false

  let filterMarkerSets = (markerLibStore) => {
    return markerLibStore
  }

  let openSet = (markerSet) => {
    
  } 
</script>

<style lang="scss">

</style>

<li class="submenu">
  <span class="menu-label">
    <button on:click|stopPropagation={() => open = !open} class:open>
      {label}
    </button>
  </span>
  <ul class="menu" class:open>
    {#each filterMarkerSets($markerLibStore) as markerSet}
    <li><button href="#" on:click={() => openSet(markerSet)}>{markerSet.id}</button></li>
    {/each}
  </ul>
</li>