<script>
  import AppMenu from './AppMenu.svelte'
  import AppMenuBar from './AppMenuBar.svelte'
  export let appName
  export let menu = false
</script>

<style lang="scss">
</style>

<div class="app-title">
  <h1>{appName}</h1>
  <div class="menu-container">
    <AppMenu bind:open={menu}></AppMenu>
    <AppMenuBar bind:open={menu}></AppMenuBar>
  </div>
</div>