<script>
  export let tilesConfig = 'osm.mapnik'

  import Title from './components/Title.svelte'
  import Editor from './components/Editor.svelte'

  import initLocale from './lib/i18n.js'
  import { _, getLocaleFromNavigator } from "svelte-i18n";

  import { infoModalOpened } from './stores/uiStore'

  initLocale({
    fallbackLocale: 'en',
    initialLocale: getLocaleFromNavigator(),
  })

  let appName = $_('app.name')
  let appVersion = '1.5'

  $infoModalOpened = true
</script>

<main role="application">
	<Title {appName}></Title>
  <Editor {tilesConfig} {appName} {appVersion}></Editor>
</main>

<style lang="scss" global>
  @import "normalize.css/normalize.css";
  @import 'bulma/css/bulma.css';
  @import "../assets/style/global.scss";
</style>