<script>
  import { Dialog } from 'svelma'
  import MarkerIcon from '../MarkerIcon.svelte'
  import markerStore from '../../stores/markerStore'
  import { editingMarker, selectedMarker } from '../../stores/uiStore';
  import { _ } from 'svelte-i18n';

  let markerList = markerStore.all()
  markerStore.on('change', () => markerList = markerStore.all())

  const removeMarker = (marker) => {
    Dialog.confirm($_('map.marker.actions.delete.confirm').replace(/#markerName#/, marker.name || $_("map.marker.unnamed")))
          .then((ok) => ok && markerStore.remove(marker.id))
  }
</script>

<style>

</style>

<div class="map-markers-container">
  <ul role="list" class="marker-list" aria-labelledby="list-heading">
  {#each markerList as marker (marker.id)}
    <li class="marker">
      <div class="marker-header" on:click={() => $selectedMarker = marker}>
        <MarkerIcon bind:marker={marker} button={false} />
        <div class="marker-title" >{marker.name || $_("map.marker.unnamed")}</div>
      </div>
      <button class="edit-button"
              type="button"
              title="{$_("map.marker.actions.edit.label")}"
              aria-label="{$_("map.marker.actions.edit.tooltip").replace("#markerName#", marker.name)}"
              on:click={()=> $editingMarker = marker}>
        <svg role="none" alt="" class="icon"><use xlink:href="#edit"></use></svg>
      </button>
      <button class="remove-button" type="button"
              title="{$_("map.marker.actions.delete.label")}"
              aria-label="{$_("map.marker.actions.delete.tooltip").replace("#markerName#", marker.name)}"
              on:click={removeMarker(marker)}>
        <svg role="none" alt="" class="icon"><use xlink:href="#remove"></use></svg>
      </button>
    </li>
  {:else}
    <li>{$_("map.marker.emptyList")}</li>
  {/each}
  </ul>
</div>