<script>
  import { createEventDispatcher } from 'svelte'
  import MarkerColorEditor from '../MarkerColorEditor.svelte'
  import MarkerIconEditor from '../MarkerIconEditor.svelte'

  const dispatch = createEventDispatcher()

  export let icon = null
  export let color = null

  function changed() {
    console.log(icon + " " + color)
    if (icon || color) {
      dispatch('change', { color: color, icon: icon })
    }
    else {
      dispatch('change', null)
    }
  }
  
  $: changed({ color: color})
  $: changed({ icon: icon})
</script>

<style type='scss'>
</style>

<div class="leaflet-bar">
  <MarkerColorEditor bind:value={color}></MarkerColorEditor>
</div>

<div class="leaflet-bar">
  <MarkerIconEditor bind:value={icon}></MarkerIconEditor>
</div>