<svelte:options accessors={true}/>
<script>
	import { createEventDispatcher } from 'svelte'
  import config from '../../config/markers'
  import { _ } from 'svelte-i18n'
  import { addMode, showPopups, markerList } from '../../stores/uiStore'

  const dispatch = createEventDispatcher()

  function switchAddMode(evt) {
    $addMode = !$addMode
  }

	function switchPopups() {
		$showPopups = !$showPopups
  }

  function switchMarkerList() {
    $markerList = !$markerList
  }
</script>

<div class="leaflet-bar">
  <button type="button" class="leaflet-bar-part leaflet-bar-part-single"
          on:click|stopPropagation={switchAddMode} class:selected={$addMode}
          title="{$_('map.marker.actions.add.tooltip')}" href="#">
    <svg class="icon" style="color: {config.markers.colors['default']}"><use xlink:href="#color-marker"></use></svg>
  </button>

  <button type="button" class="leaflet-bar-part leaflet-bar-part-single single-click"
          on:click|stopPropagation={() => dispatch('click-recenter')} title="Reset View" href="#">
    <svg class="icon"><use xlink:href="#reset-view"></use></svg>
  </button>

  <button type="button" class="leaflet-bar-part leaflet-bar-part-single"
    on:click|stopPropagation={switchPopups} class:selected={$showPopups} title="Show popups" href="#">
    <svg class="icon"><use xlink:href="#popup-switch"></use></svg>
  </button>

  <button type="button" class="leaflet-bar-part leaflet-bar-part-single"
    on:click|stopPropagation={switchMarkerList} class:selected={$markerList} title="Show marker list" href="#">
    <svg class="icon"><use xlink:href="#marker-list"></use></svg>
  </button>
</div>