<script>
  import EditableField from '../EditableField.svelte'
  import { createEventDispatcher } from 'svelte';
  import { editingMarker } from '../../stores/uiStore'

  const dispatch = createEventDispatcher();

  export let marker
  export let markerName = marker.name || "Nouveau lieu"
  $: marker = {...marker, name: markerName}
  $: dispatch('change', marker)

  export let clickEdit = () => {
    $editingMarker = marker
  }
</script>

<style type="scss">

</style>

<button class="edit-button" type="button" on:click={clickEdit}>
  <svg class="icon"><use xlink:href="#edit"></use></svg>
</button>
<div class="marker-title">{markerName}</div>